.topnav{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border: none;
    font-size: medium;


}
#first{
    color: orangered;
}
body{
    background-color: aqua;
    border: 1px solid;
    padding: 20px;
}
.image{
    height: 30px;
    width: 30px;
    display: flex;
   
}
button{
    color: orangered;
    border: none;
}

.container{
    display: flex;
    
    }
     .image1{
        display: block;
       
        margin-top: 10%;
         width: 40%; 
        border-radius:80px ; 
        background-color: blueviolet;
        
   }
   h1{
    font-size: 600%;
    color: white;
   }
    h4{
        font-size: 200%;
    }
    .paragraph{
        display: flex;
    }
    button{
        background-color: orangered;
        color: antiquewhite;
    }
    .footer{
        display: flex;
        justify-content: 80px;
        justify-content: space-around;
    }
    